<nav class="bg-white p-4 shadow-md">

    <div class="container mx-auto flex items-center justify-between">
        <a href="/">
            <h1 class="text-xl font-bold text-black">Quiz Wizard</h1>
          </a>
          <ul class="flex">
            <li class="mr-6">
                <a href="/" class=" text-black">Home</a>
              </li>
              <li class="mr-6">
                <a href="/about" class=" text-black">About</a>
              </li>
              <li>
                <a href="/generate-test" class=" text-black">Generate Test</a>
              </li>
            </ul>
    </div>
  </nav>