<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>
<br>

<main class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center mb-4">500- Something is broken</h1>
    <div class="max-w-md mx-auto m-4 p-4 bg-white rounded-lg shadow-md">
      <p class="mb-4">
        Oops, it looks like you've lost the quiz wiz! Don't worry, just head back to the <a href="/" class="text-blue-600 font-bold">home page</a> and try again.
      </p>
    </div>
  </main>

<br>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>