<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>
<br>

<main class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center mb-4">Study Wiz</h1>
    <div class="max-w-md mx-auto m-4 p-4 bg-white rounded-lg shadow-md">
      <p class="mb-4">
        Study Wiz is a powerful and easy-to-use platform for creating custom test materials. <br> <br> With our advanced generative technology, you can quickly and easily generate tests in a variety of subjects and styles, helping your students to be better prepared for their exams.
      </p>
      <p class="mb-4">
        Sign up for our waitlist to be notified when Study Wiz becomes available.
      </p>
      <form action="/waitlist" method="post">
        <label for="email" class="block font-bold mb-2 text-gray-700">Email:</label>
        <input type="email" id="email" name="email" class="block w-full p-2 rounded-lg bg-gray-200">
        <input type="submit" value="Sign Up" class="bg-blue-500 text-white px-4 py-2 rounded-lg w-full mt-4">
      </form>
    </div>
  </main>

<br>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>