<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<!-- <main class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center mb-4">Test Generator</h1>
    <div class="max-w-md mx-auto m-4 p-4 bg-white rounded-lg shadow-md">
      <p class="mb-4">
        Using a generative testing system like Test Elf can provide many benefits for students and teachers alike. With a generative testing system, tests can be created quickly and easily, allowing students to focus on studying the material rather than spending time creating tests. Additionally, a generative testing system can provide a wider range of questions and test formats, helping to ensure that students are thoroughly prepared for their exams.
      </p>
    </div>
  </main> -->


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>